{% extends "layout.html.twig" %}
{% block content %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for kategoria in kategorie %}
                <li><a class="dropdown-item" href="/kategorie/{{ kategoria.id }}">{{ kategoria.nazov }}</a></li>
            {% endfor %}
        </ul>
    </div>
<div class="row">
    {%  for polozka in polozky %}
        <div class="col-sm-3" style="margin:1rem 3rem;">
            <div class="card" style="width: 25rem; height: 50rem; background: aquamarine ">
                {% if polozka.obrazok %}<a href="/polozky/{{ polozka.id }}"><img class="card-img-top smalling" src="/images/{{ polozka.obrazok }}"></a>{% endif %}
                <div class="card-body text-center">
                    <h3 class="card-title">{{ polozka.nazov }}</h3>
                    <p class="card-text">
                        {{ polozka.opis }}
                    </p>
                    <h4 class="card-footer">{{ polozka.cena }}€</h4>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-warning" href="{{ path('vymaz_polozku', {id: polozka.id}) }}"><i
                                class="fa fa-edit"></i>Vymaž položku</a>
                        {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}